@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.auth-page-bg {
  background: url('./assets/healthcare1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-height: 95vh;
}

.booking-page-bg {
  background: url('./assets/healthcare2.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-height: 95vh;
}

.welcome-page-bg {
  background: url('./assets/healthcare3.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-height: 95vh;
}

.profile-page-bg {
    background: url('./assets/healthcare4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: transparent;
    box-shadow: none;
    border: none;
    min-height: 95vh;
}

.contact-page-bg {
  background: url('./assets/healthcare5.jpeg') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-height: 95vh;
}

.professional-table th {
  background-color: #f4f4f4; /* Light grey background */
  color: #333; /* Dark text for contrast */
}

.professional-table tr:hover {
  background-color: #e8e8e8; /* Lighter grey for hover */
}

.g-map {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 8px;
}

/* CSS styles */
.col:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

/* In your CSS file */
.location-header {
  margin-bottom: '20px';
  font-size: '48px';
  color: '#0a58ca';
  text-align: 'left';
}

.custom-modal .modal-header {
  background: linear-gradient(45deg, #4f93c0, #a5c9f0);
  color: white;
}

.custom-modal .modal-header .close {
  color: white;
  opacity: 1;
}

.custom-modal .modal-body {
  padding: 20px;
  font-size: 1rem;
}

.messages-display {
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  max-height: 250px;
  overflow-y: auto;
}

.message {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.message:nth-child(even) {
  background-color: #f8f9fa;
}

.input-field {
  border: 2px solid #ced4da;
  padding: 0.375rem 0.75rem;
  margin-right: -1px; /* Align with the button */
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.submit-button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 0.375rem 0.75rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.submit-button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
