@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.auth-page-bg {
  background: url('./assets/healthcare1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-height: 95vh;
}

.booking-page-bg {
  background: url('./assets/healthcare2.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-height: 95vh;
}

.welcome-page-bg {
  background: url('./assets/healthcare3.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-height: 95vh;
}

.professional-table th {
  background-color: #f4f4f4; /* Light grey background */
  color: #333; /* Dark text for contrast */
}

.professional-table tr:hover {
  background-color: #e8e8e8; /* Lighter grey for hover */
}